In [ ]:
for var in [10, 20, 30]:
  print(var)

10
20
30

In [ ]:
for var in [10, 20, 30]:
  print("hello")

hello
hello
hello

In [ ]:
myList = [10, 20, 30]
for x in myList:
  print(x)

10
20
30

In [ ]:
for y in "duygu altop":
  print(y)

d
u
y
g
u

a
l
t
o
p

In [ ]:
for x in range(3):    # 0, 1, 2
  print("hello")

hello
hello
hello

In [ ]:
for x in range(3):    # 0, 1, 2
  print("hello1")
  print("hello2")

hello1
hello2
hello1
hello2
hello1
hello2

In [ ]:
for x in range(3):    # 0, 1, 2
  print("hello1")
  print("hello2")
print("hello3")

hello1
hello2
hello1
hello2
hello1
hello2
hello3

In [ ]:
myList = [10,20,30,40,50]
for x in range(5):    # 0, 1, 2, 3, 4
  print(x)

0
1
2
3
4

In [ ]:
# iterating over items
myList = [10,20,30,40,50]
for x in myList: 
  print(x)

10
20
30
40
50

In [ ]:
# iterating over indices
myList = [10,20,30,40,50]
for x in range(5):    # 0, 1, 2, 3, 4
  print(myList[x])

10
20
30
40
50

In [ ]:
# iterating over indices
myList = [10,20,30,40,50]
for x in range(4):  # 0, 1, 2, 3  
  print(myList[x])

10
20
30
40

In [ ]:
# iterating over indices
myList = [10,20,30,40,50]
for x in range(6):  # 0, 1, 2, 3, 4, 5
  print(myList[x])

10
20
30
40
50

IndexError: ignored

In [ ]:
# iterating over indices
myList = [10,20,30,40,50, 60, 60,70,100]
for x in range(len(myList)): 
  print(myList[x])

10
20
30
40
50
60
60
70
100

In [ ]:
# iterating over indices
myStr = "duygu altop"
for x in range(len(myStr)): 
  print(myStr[x])

d
u
y
g
u

a
l
t
o
p

In [ ]:
myStr = "IF100 - Python"
myList = []
for ch in myStr:
  myList.append(ch)
print(myList)

['I', 'F', '1', '0', '0', ' ', '-', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [ ]:
myStr = "IF100 - Python"
myList = []
for ch in myStr:
  myList.append(ch)
  print(myList)

['I']
['I', 'F']
['I', 'F', '1']
['I', 'F', '1', '0']
['I', 'F', '1', '0', '0']
['I', 'F', '1', '0', '0', ' ']
['I', 'F', '1', '0', '0', ' ', '-']
['I', 'F', '1', '0', '0', ' ', '-', ' ']
['I', 'F', '1', '0', '0', ' ', '-', ' ', 'P']
['I', 'F', '1', '0', '0', ' ', '-', ' ', 'P', 'y']
['I', 'F', '1', '0', '0', ' ', '-', ' ', 'P', 'y', 't']
['I', 'F', '1', '0', '0', ' ', '-', ' ', 'P', 'y', 't', 'h']
['I', 'F', '1', '0', '0', ' ', '-', ' ', 'P', 'y', 't', 'h', 'o']
['I', 'F', '1', '0', '0', ' ', '-', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [ ]:
myStr = "IF100 - Python"

for ch in myStr:
  myList = []
  myList.append(ch)
  print(myList)

['I']
['F']
['1']
['0']
['0']
[' ']
['-']
[' ']
['P']
['y']
['t']
['h']
['o']
['n']

In [ ]:
numOfLetters = 0
myStr = "IF100 - Python "

for ch in myStr:  
  if ch.isalpha():
    numOfLetters += 1
print(numOfLetters)

8

In [ ]:
DNA = input("Enter a DNA sequence: ")

countInvalid = 0

for var in DNA:
  if var not in "ACGT":   #var != "A" and var != "C" and var != "D" and var != "G"
    #print("Mutated DNA")
    countInvalid += 1

if countInvalid != 0:
  print("Mutated DNA")
else:
  print("Valid DNA")

Enter a DNA sequence: ACFTGCATF
Mutated DNA

In [ ]:
DNA = input("Enter a DNA sequence: ")

countValid = 0

for var in DNA:
  if var.upper() in "ACGT":  
    #print("Mutated DNA")
    countValid += 1

if countValid != len(DNA):
  print("Mutated DNA")
else:
  print("Valid DNA")

Enter a DNA sequence: ACGTH
Mutated DNA

In [ ]:
DNA = input("Enter a DNA sequence: ")

isValid = True

for ch in DNA:
  if ch.upper() not in "ACGT":
    isValid = False

if isValid:   # isValid == True:
  print("Valid DNA")
else:
  print("Mutated DNA")

Enter a DNA sequence: ACGHCsdG
Mutated DNA

In [ ]:
DNA = input("Enter a DNA sequence: ")

result = "Valid DNA"

for ch in DNA:
  if ch.upper() not in "ACGT":
    result = "Mutated DNA"

print(result)

In [ ]:
DNA = input("Enter a DNA sequence: ")

result = "Valid DNA"

for ch in DNA:
  if ch.upper() not in "ACGT":
    result = "Mutated DNA"
    break

print(result)

Enter a DNA sequence: cadst
Mutated DNA

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(5):
  print(i)
  if i == 3:
    break

0
1
2
3

In [ ]:
for i in range(5):
  if i == 3:
    break
  print(i)

0
1
2

In [ ]:
myList = [10, 15, 20, 25, 5, 10, 15, 5, 30]

In [ ]:
minElement = min(myList)
myList.index(minElement)

4

In [ ]:
minElement = min(myList)
myList.reverse()
print(len(myList) -1 - myList.index(minElement))
myList.reverse()

7

In [ ]:
myList = [10, 15, 20, 25, 5, 10, 15, 5, 30]
minElement = min(myList)

for idx in range(len(myList)):
  if myList[idx] == minElement:
    print(idx)

4
7

In [ ]:
myList = [10, 15, 20, 25, 5, 10, 15, 5, 30]
minElement = min(myList)

printIndx = 1000

for idx in range(len(myList)):
  if myList[idx] == minElement: 
    printIndx = idx
    break
  
print(printIndx)

4

In [ ]:
myList = [10, 15, 20, 25, 5, 10, 15, 5, 30]
minElement = min(myList)

printIndx = 1000

for idx in range(len(myList)):
  if myList[idx] == minElement: 
    printIndx = idx
  
print(printIndx)

7

In [ ]:
myList = [10, 15, 20, 25, 5, 10, 15, 5, 30]
minElement = min(myList)

myList.reverse()

for idx in range(len(myList)):
  if myList[idx] == minElement: 
    break
  
print(len(myList)-1-idx)

myList.reverse()

7