# Decision Making

<img src = "https://lh3.googleusercontent.com/PWGVU9kb-qI4rgZz4jPS70ZVGq8IOTwShzwFSsKt8Wpno-MN4Fznv80ihjGfbx2TzNfzl0XJiaaWeGQn7j2ZtkS_PMgDV4dxKohp_ZzxgM_HyHGTAIQwVG-Qihj9KAZeeAK2zFflC90" width = "25%"/>
* **Decision making** is anticipation of conditions occurring while execution of the program and specifying actions taken accordingly (sequential execution vs. conditional execution)
  - If it snows, announce holiday.
  - If dollar is high, sell dollar; otherwise, buy dollar.
  - If dollar is high and euro is low, sell dollar and buy euro. If dollar is low and euro is high, sell euro and buy dollar. If both of them are high, sell both and buy TL.
* Decision structures evaluate multiple **expressions which produce TRUE or FALSE** 
as outcome
  - Determine which action to take and which statements to execute if outcome is TRUE or FALSE otherwise

# Boolean As a Type

* Christian Bale was in the movie The Dark Knight **and** Tom Hardy was in the movie Mad Max: Fury Road.
* Christian Bale was in the movie The Dark Knight **or** Tom Hardy was not in the movie Mad Max: Fury Road.


---

* Allow computers to make decisions
* Questions are required to be phrased in a particular way
  - Use of operators for more complicated questions
    - and, or, not

# Boolean Operators

Operator | Meaning
--- | ---
and | True if both the operands are true
or | True if either of the operands is true
not | True if operand is false (complements the operand)

# Truth Table

x | y | x **and** y | x **or** x | **not** x
--- | --- | --- | --- | ---
True | True | True | True | False
True | False | False | True | False
False | True | False | True | True
False | False | False | False | True

# Boolean Operations

In [ ]:
x = True
y = False

In [ ]:
print("x and y is", x and y)

x and y is False

In [ ]:
print("x or y is", x or y)

x or y is True

In [ ]:
print("not x is", not x)

not x is False

# Comparison Operators

Operator | Meaning
--- | ---
> | Greater than - True if left operand is greater than the right
< | Less than - True if left operand is less than the right
== | Equal to - True if operands are equal
!= | Not equal to - True if operands are not equal
>= | Greater than or equal to
<= | Less than or equal to

# Comparison Operations

In [ ]:
x = 10
y = 12

In [ ]:
print("x == y is", x == y)

x == y is False

In [ ]:
print("x != y is", x != y)

x != y is True

In [ ]:
print('x > y is', x > y)

x > y is False

In [ ]:
print('x < y is', x < y)

x < y is True

In [ ]:
print('x >= y is', x >= y)

x >= y is False

In [ ]:
print('x <= y is', x <= y)

x <= y is True

# Precedence Table

Operator | Operator type | Explanation
--- | --- | ---
+, - | Sign Operators | plus and minus signs
** | Arithmetic Operators | exponentiation
*,     /,     //,     % | Arithmetic Operators | multiplication, (floor) division and modulus
+, - | Arithmetic Operators | addition and subtraction
 in,  not in,   <,  <=,  >,     >=,      ==,     !=   | Comparison and Membership Operators| membership, relational, equality and inequality
not | Logical Operators | logical NOT
and | Logical Operators |logical AND
or | Logical Operators |logical OR
=,      +=,      -=,       *=,       /=,       //=,      %= | Assignment Operators |assign values to variables

#Absolute Value

Input a number & print out the absolute value of that number.
<div id="image-table">
    <table>
	    <tr>
        <td>
        	    <img src="https://lh4.googleusercontent.com/OqoZKLu5PuU-a-zdbEDX6YDGjNd_xDJ41twb9HIQ2d-optwOM5LobRp2k-UWgPG9vHDTbC-w5Kfqk9p3O9owgurMBJVm34R7zoMmNnFgzXr2KV09l2qo9fK4JQI9MOP-VClP-lLmNGo" width = "100%">
      	    </td>
    	    <td>
        	    <img src="https://lh3.googleusercontent.com/zCWqKDDHrVCxIhEpg8eqUVS4_iNCC5hgfGvTwLti5t5DAZlAiRCSLuZeCgsi382ydmMwGct-2RCdMd8sUGvGiHdQWppZK03TfAXLIMhWPAmEEnisqWkImjaLTdQ_C7qh6JL33w4ZlV4NIyccVXiAS1jABADl2u5tX53egPsNNuyUYZuAG9O4QuOFVWg4-o7FFhLT7RgZLkJO5gHysER75kodM2MyBi8M1-cv7u_Znk8UaUfeB-ae6voyZj9mVImiE3uGVfQFh3sPaJ3pQ2uvshewp84gfdJrJdBF26OF3Z3aMnNJUC5ik2u878Q1FG_9vEQ5GR2VovUb_4mZkxxvvNi9qOPc__rVpo8yV1dGS8CrQ-6ETQ9HG8dnrCGfcQPKBfNa9Ycf8GBE8pmwBXrucOt1BJ-r0nRbVEohNbGA3KCUYdDnIRb61-XoBFuD2rm-i1Es0Brligvrmhble9t89C4Yno3vnDAyp7yY3U19AcheE8jDFrzYJ2u2DZ11Le9veQe1Xz5Oiaf-OndlJvWz0J38CSy7LGLbiu9VLbnOT7icW4RbybIEQPb-kupbaUyjjFp9_FD3f7YDlZXZ-S2t1pufTW66aDcfa5uq6p288ruQDo1lGjfInstiCvDL1xFuHz-86X5th3O8m6DNvyiOJPo4HDhnuk_sNQqIvM22c1hFa2fv79aBCGJbHvJTTX1CCED6_Cyxp82ye4G-RN3Vhu4=w752-h644-no" height= "40%" hspace="50">
      	    </td>
            <td>
            	<img src="https://lh3.googleusercontent.com/w70rtcLgO_SvjZ_j6ng8GLsYtpVnAF3bvNi2O0mVYuQF7XlNXRGvci8t2PCOhkRwt5lwqleMFkUgKEBJIBY3m3rRpFomK1Kv-_gyI3QUu5wcurYPMXcAfVhaRU-H835_vMhUGTEj_hU" height= "40%" hspace="50">
             </td>
        </tr>
    </table>
</div>

# If Syntax

<img src = "https://lh3.googleusercontent.com/uLW-DXN9bFHpypULsqldCMYZurAsiazDYgOownlmggH8eCNO7zEhbJGRsL3laWT5iLl6VlRIxjPSU17jTgkQlkLrrGiN9MyOYWnVEdOd1bcauoAQzq4LNCeuRmjfgSSYAoyzVfJVKKJV4mOHS-UF3wJ_zJh6-1O4U6WOBXs5ETGpLii_vQdM0_9dIhBtZxjcJbEoPxRrGETAdAAsjMUWOE-6x_thZafJTaoF5siNe90EGmJOrbKArAiKU7AGhjapslFXJ2-Dyn3xBdRTgyhCItamAqPKjXTmhPMBFSwAiQ2UWkOCbnbbMvdRYq8gjDfZA992oV537vMLZRoxQumfbUPat6b3Mr7sTlGR0jYHGVO3Z7jlW06AfoWMU5w0qskFx9JkUfp9dGFifxYAc1FdCoWDjXOuLLTMcBmeckESDxtb7lvnLhHQcOx1HEr4zn4_9jfifW95-7DBz4K6NDxBlSSE7ehduad2rpDUy8MW0g9Rm0ef239gBcCLJ14tN_UFNfH8JyGU2xckbuaS2H36JhKDr_G-23woAWBd0sNC_FHykfTVksEsAI0oD_pS2r7_M6wPcDvlkglpi2fTuoTP7rWrVd9jei7dtSzx8gfFa7fZw2f-5OzFi60oqCrMEhTS0rfeL1gyV0sHy5dk_mqmiPtVGU55g_Lt4UOdtPLcjfw8wl6MokDKBKtjsOgch4o2-uYR9Zw1qhY-FSKBrbbzZqo-=w1002-h264-no" width= "30%"/>

* Lines & Indentation → blocks of code are denoted by indentation (enforced!)
  - All statements within the block must be indented the same amount
  - All statements within different blocks must be indented the same amount
  - By default 4 spaces! (2 space in Google Colab)
* You can use several blank lines between statements

# absolute_value.py

In [ ]:
# input the number
number = int(input("Please enter a number: "))

# update if smaller than 0
if number < 0:
  number *= -1

# display the absolute value    
print("The absolute value is: ", number)

Please enter a number: 5
The absolute value is:  5

# Graduation Policy

![alt text](https://lh3.googleusercontent.com/eYltORkL5AcsUPS0_ipPQm44XPkNWeLUhB99o7dSrHXLMCDfXjGWhUSR75h2oRCs5M1oghOJqYVSjKymeysv11MWtzbNw6fa4olICnm_eeHApotDeRkR33nN0F_sRw_U5Q095Vbr81IZrZoW37LnO765prLJo6P36hnlBX24EixmjaHRNqZc4YQMCfyPJtWR3224JdTD1P9N9pjiPU_wNAtn9n-OJW_OaPIt3lxnehiCkNFr2B-HmqO_0RgH8GO6HQQs3ykKfE7zjUUvAMJkIh5wujSOnKqtUPPwb7n4WG0WwynUtg06gmBYW4QXKxnfJLyjdI-NBFshnVrI0TZj0EoRcb7Y-AZQ_6frcytL3YztZUpEeQTCHur-upzv9GcMrUUwSm2jLt2k6tKpvOdgBCoYf4p1r0P-gxBjxF-E-EyK4B1FhBm8yocJstZLFlaPQCDBMZfXxuq8iq6YtDwz7JFDOzv0oQspxExTpITpgbeMq_95p8mSqngtKM9v0hjyxqtvseVxr7N16JN26410ZVORyRN6g-NHPs7MF4knf5Zb6sDEAgoyAYFc9s1LIslnFWxYB51gRjZ6O8tS8DKOavKmm4MpPFRBlTdSVeceIkO-8Sl2aL2lB-_pyDX83fjjzW4DDShK3Ogamx5xsb-IQ4w0byF9xEcCmQ5nhsiHVym1vmToB0zdnBrZQe-h25xmCfleCz38qdDeuoBdBgvSmUU=w1816-h898-no)

# graduation_policy.py

<img src = "https://lh3.googleusercontent.com/eU6cJs3_C5mcnzZAvB7bA4ONjYvpo_WGwRd0E52xOVqBdaZuHxV6YrvIYXETPJ__rcQT0tYEdJWJIbe3cLDGrMlcKL0wJiIHMm5kt6rHHMeB5U6rtd2A76A--PHqQbSZpUC6ZS0estmqawyhhbQwcgi5YhoceT4SsAmSB1GLVcxtvbo-3B9FwOj6rj11lSSsvC1EkW6V8YlKVF6YpLFHpQBDlUBtg5fVRR1I_tTCPTfGO-xDx_hI-EfxD44bEuWzxhrxlLTeFPKucxsVQ6KmR5KbalwhNPjXCyC7ZACZIHgGIf0S21MiTsTw0giaR1PSlQduW-J6IDcQYzwbVp0GP9h_gx2jfVDkykpkPlGAWJCwQbo0th-0FYtgyqJ0Cu21bRsbMxTEiA3ajl198INyvuNtT88TWxVdAficwEi_DJG2FsNGFG9Tnp0rNo1sneMVsXy5a37gxRxdV90pKyTNjIfqJOynocddfgTwj2rbUu1c7j8HO4rpWv2JBTJEQZtDpH0oCovOr7xHLKbvi9VDpvQqKDk_lE8Vje364bNjZvV7LfSSUojdb2pz1f7oPBvH_c3O2MZzRPWvXwwMK1IdvBFIN_Kz6ZtQHBgE-HIFdPTTKPzwqyIZ0iCzbuGLgORVIuPzqwIrZ4pg5ekyJim2DX-WUKBBu0MuBwRS6zTQvdMCwDxD19-SZXbnFQCpFJqawRmvRFeCK47ozIBiL3EpJKhR=w916-h712-no" width = "30%"/>

In order to be eligible to graduate from Sabancı University, you should have a minimum of 2.00 GPA. 

Input the GPA of a student & print out whether that student is eligible to graduate or not.

In [ ]:
# input the GPA
gpa = float(input("Please enter the value of GPA: "))

# determine whether eligible or not
if gpa >= 2.00:
  print("Eligible to graduate")
else:
  print("Not eligible to graduate")

Please enter the value of GPA: 1.9
Not eligible to graduate

# sps_grade.py

![alt text](https://lh3.googleusercontent.com/CY5Na_0L47AW6NQsfiftJyJsnpq2GCdOtjlM2LrCacBIroKr15EIwmlFsmAkwtPFmCd3d7AUry7cz_jH1kxgLC6KZrGgQAO-RVrJgj0wrK8C6kJTcGezQMdU-u2xTYN1hKHp8jjkoFaca4KPqgfQ5nq2N_YpsfHrTid50n2CGDRT5hPw756tXY64wkWMbbY9VxlVqpEYJ1uDtylQIit1U5Pff86CkWYI1KRLQ42D1YIpcBgADxSGR_dRU3QEjuXiEy31On_ZsgCvqTzKubJ78FqddQGTWSruLp3HR8ijOt3h6sv_m-FWizB6eB7hSisTmbExBOsv5W7cpcdZumv4il2IbJygHd7idRp0P0vItDEDzxo0md21Cu_89Fp98gw0RXOnRi_GxeE_jdFnkqC785ClI2LWpjbINqCkoMWEAV6L_X3mRHxr0zyXnP35-EmlZ2PF_PvxGjwZtGfu7n7qQ7Dik_fWZ-Az8SJTzAJZE1VMtXfkJrJ9MtxTBFNlOEdJvwtHVr9SyEbnUTi94C98cRdL3Ob4W7pylNuhBUFyS6XgaTiM9M9pdmBiUmM71MG53zfDO4OSNmZY8xVJHOHQ4wGZCfHmgrLnss83PJVI-Nz11i5xsYVGAWb0UVaNKCFjdaJLd3tIQbGFpmKvt3K_zzXf36FADexp1wSlwk5nMTFl50Vk9bqP73PJq_9Rtbsli7RydA_XhIdFi3q-If6y7j9zp3lgPxYyFNFKpCmExdZ0gFDC=w2700-h1548-no)

Let’s break our problem into pieces (decomposition)

1. Get the points earned from the user

2. Calculate and display the overall grade

3. Find and display the corresponding letter grade

In [ ]:
# input the points earned for each grading component
midterm_1 = float(input("Please enter your Midterm 1 grade: "))
midterm_2 = float(input("Please enter your Midterm 2 grade: "))
summary_paper = float(input("Please enter your Summary Paper grade: "))
response_paper = float(input("Please enter your Response Paper grade: "))
discussion = float(input("Please enter your Overall Discussion grade: "))
tophat = float(input("Please enter your Overall Top Hat grade: "))

# define the rates
midterm_rate = 0.2
summary_paper_rate = 0.1
response_paper_rate = 0.2
discussion_rate = 0.2
tophat_rate = 0.1

# calculate the grade
grade = (midterm_1 + midterm_2) * midterm_rate + \
        summary_paper * summary_paper_rate + \
        response_paper * response_paper_rate + \
        discussion * discussion_rate + \
        tophat * tophat_rate

# select the letter grade
if grade >= 90:
  letter = "A"
elif grade >= 86:
  letter = "A-"
elif grade >= 82:
  letter = "B+"
elif grade >= 78:
  letter = "B"
elif grade >= 74:
  letter = "B-"
elif grade >= 70:
  letter = "C+"
elif grade >= 66:
  letter = "C"
elif grade >= 62:
  letter = "C-"
elif grade >= 58:
  letter = "D+"
elif grade >= 54:
  letter = "D"
else:
  letter = "F"

# print the resulting value
print("The overall grade is ", grade, " and the letter grade is ", letter, ".", sep = "")

Please enter your Midterm 1 grade: 50
Please enter your Midterm 2 grade: 50
Please enter your Summary Paper grade: 50
Please enter your Response Paper grade: 50
Please enter your Overall Discussion grade: 50
Please enter your Overall Top Hat grade: 50
The overall grade is 50.0 and the letter grade is F.

# More on Decision Making

In [ ]:
x = 5

if x > 4:
  x = x+1
if x > 5:
  x = x+2
if x > 7:
  x = x+3
  
print("x is", x)

x is 11

In [ ]:
x = 5

if x > 4:
  x = x+1
elif x > 5:
  x = x+2
elif x > 7:
  x = x+3
  
print("x is", x)

x is 6

In [ ]:
x = 5

if x > 4:
  y = 1
elif x > 5:
  y = 2
elif x > 7:
  y = 3

x = x + y  
print("x is", x)

x is 6

In [ ]:
x = 5

if x > 4:
  y = 1
if x > 5:
  y = 2
if x > 7:
  y = 3

x = x + y  
print("x is", x)

x is 6

# leap_year.py

Most years have 365 days. However, the time required for the Earth to orbit the Sun is actually slightly more than that. As a result, an extra day, February 29, is included in some years to correct this difference. Such years are referred to as **leap years**.

The rules for determining whether or not a year is a leap year follow:
* Leap years are any year that can be **evenly divided by 4** (such as 2012, 2016, etc)
* **Except if** it can be **evenly divided by 100**, then it **isn't** (such as 2100, 2200, etc)
* **Except if** it can be **evenly divided by 400**, then it **is** (such as 2000, 2400)

<img src ="https://lh5.googleusercontent.com/9uFyYE-hSbl6XqoWIelTUyGO3FWqpzW3n0Py_mw8vd29rKBEhTeeXzHtYDdvLOeZRL7M7jLovaIL3i57mAsTf96vGnNuK1tpnTYzvtDhmiueSh7RsZTJ7FL1utjhfWLk8neDoeXS5d4" vspace = "20" width = "60%"/>

Write a program that reads a year from the user and displays a message indicating whether or not it is a leap year.

In [ ]:
# input a year from the user
year = int(input("Please enter a year: "))

# determine if leap year
if year % 4 == 0:
  if year % 100 == 0:
    if year % 400 == 0:
      print("It is a leap year")
    else:
      print("It is not a leap year")
  else:
    print("It is a leap year")
else:
  print("It is not a leap year")

Please enter a year: 2018
It is not a leap year