In [ ]:
myList = [1,2,3]
for x in myList:
  print(x, end=" ")

1 2 3

In [ ]:
myList = [1,2,3]
for x in myList:
  print("hello")
  for y in myList:
    print(x, y)

hello
1 1
1 2
1 3
hello
2 1
2 2
2 3
hello
3 1
3 2
3 3

In [ ]:
x = 0
while x < 3:
  print(x, end=" ")
  for y in range(x):        # range(0)
    print(y, end= " ")
  print()
  x += 1

"""
x = 0 --> range(0) --> empty sequence
x = 1 --> range(1) --> 0
x = 2 --> range(2) --> 0, 1
x = 3

output
0
1 0
2 0 1

"""

print("bye")

0
1 0
2 0 1
bye

In [ ]:
parties = ["AKP", "ANAP", "AP", "B", "CGP", "CHF", "CHP", "CKMP", "DP", "DSP",\
           "DTP", "DYP","HDP", "MGP", "MHP", "MP","MSP", "RP", "SHP", "YTP"]

dates = [["2002-2021"],\
         ["1983-1991", "1996-1996", "1997-1999", "1999-2002"],\
         ["1961-1962", "1965-1974", "1975-1977", "1977-1978", "1979-1980"],\
         ["1963-1965", "1971-1974", "1978-1979", "2015-2015"],\
         ["1973-1974", "1975-1977", "1978-1979"],\
         ["1923-1935"],\
         ["1935-1950", "1971-1973", "1974-1974", "1977-1977", "1978-1979", "1995-1996"],\
         ["1962-1963", "1965-1965"],\
         ["1950-1960"],\
         ["1997-2002"],\
         ["1997-1999"],\
         ["1991-1997", "1996-1997"],\
         ["2015-2015"],\
         ["1971-1973"],\
         ["1975-1977", "1977-1978", "1999-2002"],\
         ["1965-1965"],\
         ["1974-1974", "1975-1977", "1977-1978"],\
         ["1996-1997"],\
         ["1991-1995"],\
         ["1962-1963", "1965-1965"]]

In [ ]:
party = input("Enter a party name: ").upper()
while party not in parties:
  party = input("Enter a party name: ").upper()

idx = parties.index(party)
years = dates[idx]

total = 0

for interval in years:
  dashIdx = interval.index("-")
  startYear = int(interval[:dashIdx])
  endYear = int(interval[dashIdx+1:])
  duration = endYear - startYear + 1
  total += duration

print(total)

Enter a party name: AKP
20

In [ ]:
teams = ["Roma", "Barcelona", "Juventus", "Bayern Munich", "Sevilla", "Real Madrid", "Manchester City", "Liverpool"]

In [ ]:
for idx1 in range(len(teams)-1):
  for idx2 in range(idx1+1,len(teams)):
    print(teams[idx1], "vs", teams[idx2])

Roma vs Barcelona
Roma vs Juventus
Roma vs Bayern Munich
Roma vs Sevilla
Roma vs Real Madrid
Roma vs Manchester City
Roma vs Liverpool
Barcelona vs Juventus
Barcelona vs Bayern Munich
Barcelona vs Sevilla
Barcelona vs Real Madrid
Barcelona vs Manchester City
Barcelona vs Liverpool
Juventus vs Bayern Munich
Juventus vs Sevilla
Juventus vs Real Madrid
Juventus vs Manchester City
Juventus vs Liverpool
Bayern Munich vs Sevilla
Bayern Munich vs Real Madrid
Bayern Munich vs Manchester City
Bayern Munich vs Liverpool
Sevilla vs Real Madrid
Sevilla vs Manchester City
Sevilla vs Liverpool
Real Madrid vs Manchester City
Real Madrid vs Liverpool
Manchester City vs Liverpool

In [ ]:
for team1 in teams:
  for team2 in teams:
    if team1 != team2:

In [ ]:
import random as rnd

In [ ]:
n = int(input("Enter number of columns: "))

coupon = []

for x in range(n):
  column = []
  while len(column) < 6:
    num = rnd.randint(1,49)
    if num not in column:
      column.append(num)
  column.sort()  
  coupon.append(column)

print(coupon)

Enter number of columns: 5
[[1, 2, 7, 16, 33, 36], [17, 23, 24, 25, 33, 43], [8, 12, 15, 22, 23, 25], [16, 19, 22, 27, 35, 36], [4, 9, 12, 21, 32, 46]]

In [ ]:
n = int(input("Enter number of columns: "))

coupon = []

for x in range(n):
  column = []
  while len(column) < 6:
    num = rnd.randint(1,49)
    if num not in column:
      column.append(num)
  column.sort()  
  coupon.append(column)

# each column on a different line
# start the lines with letter - proceed with a dot
# separate each number with a tab character

#print(coupon)

letter = "A"

for column in coupon:
  print(letter, end=".\t")
  for num in column:
    if num <= 9:
      print("0", num, sep="", end="\t")
    else:
      print(num, sep="", end="\t")
  print()

  letter = chr(ord(letter) + 1)

Enter number of columns: 6
A.	04	19	22	23	26	27
B.	08	09	18	39	48	49
C.	02	11	15	22	31	47
D.	09	16	30	36	45	47
E.	02	16	19	26	33	38
F.	02	04	19	25	26	48

In [ ]:
print("duygu", "altop", sep=" ")

duygu altop

In [ ]:
print("duy"gu")

SyntaxError: ignored

In [ ]:
print("duygu", end="\n")
print("altop", end="\n")

duygu
altop

In [ ]:
print("duygu\naltop")

duygu
altop

In [ ]:
print("duy\"gu")

duy"gu

In [ ]:
# "'\abc\'"
print("\"\'\\abc\\\'\"")

"'\abc\'"

In [ ]:
print("duygu altop")
print("duygu\taltop")

duygu altop
duygu	altop

In [ ]:
l = [10, 5, 3, 4, 11]
l.sort()
print(l)

[3, 4, 5, 10, 11]