# Natural vs Formal Languages

* **Natural languages** are the languages people speak - not designed by people
English, Turkish, Spanish, etc.
* **Formal languages** are languages designed by people for specific applications
Notation that mathematicians (Cem GÃ¼neri ðŸ˜‰) or chemists use 
* **Programming languages** are formal languages that have been designed to express computations

# What's a program?

* Sequence of instructions specifying how to perform a computation
  - Something mathematical or logical
* Implementation of an algorithm
  - Using a specific programming language
    - Formal constructed language to communicate instructions to a machine
  - To execute on specific platforms
* Basic instructions appear in about every programming language
  - **input** Get data from keyboard, file, etc.
  - **output** Display data on screen, file, etc.
  - **math** Perform basic mathematical operations (+, *, etc.)
  - **conditional execution** Check for certain conditions & run the appropriate code
  - **repetition** Perform some action repeatedly, usually with some variation

# Why Python?

* A simple language to learn (very popular in introductory courses)
* Yet a very powerful language for practice (very popular among professionals)
  - Youtube, Spotify, Instagram, Dropbox, Reddit, edX, ...
* Very large user base and hence a huge library of reusable components
* Minimal setup requirements
* Minimal development environment

# The First Program

In [ ]:
print("Hello World")

Hello World

In [ ]:
print ("Hello World")

Hello World

In [ ]:
print('Hello World')

Hello World

In [ ]:
print ('Hello World')

Hello World

# The First Syntax Error

The **SyntaxError** indicates an error when trying to execute syntactically invalid code

In [ ]:
print "Hello World"

SyntaxError: ignored

In [ ]:
print(Hello World)

SyntaxError: ignored

In [ ]:
print("Hello World')

SyntaxError: ignored

# **A Longer Program..**

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Hello Sabanci University")

Hello Sabanci University

In [ ]:
print("Hello IF100")

Hello IF100

# A longer program in the same code cell

 * Every code is on a separate line.
 * Code lines are executed in the given order!
 * Every line starts at column 1 (i.e. no space at the beginning of the lines)

In [ ]:
print("Hello World")
print("Hello Sabanci University")
print("Hello IF100")
print("It is me, Python")
print("We will have a lot of fun together!!!")

Hello World
Hello Sabanci University
Hello IF100
It is me, Python
We will have a lot of fun together!!!

# Estimate Population

We are going to estimate the population of Turkey based on the following data
 * 83.67 million in 2018
 * Every 25 seconds, a birth happens
 * Every 74 seconds, a death happens
 * Every 54 seconds, a new immigrant comes

What will the population be in 2025?



---

Letâ€™s break our problem into pieces (decomposition)
1. Calculate the time difference in seconds
2. Calculate the number of births in that period
3. Calculate the number of deaths in that period
4. Calculate the number of immigrants in that period
5. Calculate the new population 
6. Print the new population

**Pseudocode actually!**


---

 * Find the time elapsed between 2020 and 2016 in seconds
   - e = (2025 - 2018) * 365 * 24 * 60 * 60
 * Consider the rates
  - p = 83670000 + âŽ£e/25âŽ¦ - âŽ£e/74âŽ¦ + âŽ£e/54âŽ¦

# Variables & Assignment

![alt text](https://lh4.googleusercontent.com/KfJ4TBs4A2XVyqQ0vTiAG8OEM1VbAlpxim1FHJ5cWdTEdhZGMs5jmWqO6Uofl--IRY64xhTjIAV8X4T4A-gR1QZ7GKAM-qzYwja3yQM0cCnWbBkDf9bKodAnpcb2pNYm4WTALsdiZnI)
* Storage space is very important
  - Process information: move data from place to place
* Assignment is an instruction to move data from one place to another
  - Chess: series of moves of pieces from one position to another: a series of ***assignments***
* Variable is a place where things (data) can be stored
  - Chess: each square is a storage space that can hold a single piece at any time: squares are ***variables***

# Identifiers

<img src="https://lh3.googleusercontent.com/35mhQYU7ECLmV2ed2YN2fXQ-nDHooPGcch4XHr84CF4gEwbzF1CTP8aWEFNT6jTv-ru11HRA2uVJ4hqgzWMUjygoVSB96Br6xkN1Bxsn8vTiWPqOza2xrbWABo23-ouqJ1Kf7LsgTn1t--OWl76vEwUMyIp3nHjtZ02w4En3J2JEvJLvUFIsTVQtxkesl_v68UbZly66ea1DPuI96Iq7MLE6A_K2Wa3pP3J6fj2lETZBRmhDwoC5ipO4yfrsQAFNysMZaqAqRf4fbdV9NnL-32jDuGuzgmwMH7nMqLPq4Yxte_gqd1u8Krv8HLYqDxCwsElKk_dfKe-Pbt0pSEZ3Tuk6v6SzOxyadT_kbYKNqME4r-YBH0oFgzhHRQp04T5per3DBMDbibw4lVhw84wozwUohUFMeYfG09e1UuGVAqFLz-fkylmbcTIT10urlgYHBIgyJ8wU-ZYzvrA4BuGhROR18u-HTqO9PH6ZlQwoX_dd12xSXWr6KXKXI2Tx0dztFroCzSexJz3uAg2e4RKDFUz1tgqAdamJ7V-4hQq3x7z1_2JlXVKbHYC6msujh0ZO23_UIKIlrfGfe_eLbcHC22az7KlHFiCCnLNPngFHgDptHYBJuzyGuHGaxkZp6hRdTLlapOssficlOeO8AqJVqvONVE8WCnx2lWdxlKE4Y1QXuKUxoXY8D6QlbTIM6Op2sKxJdPck7rRQ-a0nOlW7Bpo=s512-no" width="30%" height="30%"/>

* A variable name is referred to as identifier
  - Chess: a letter for the column & a number for the row, i.e. b1
* Programming languages have rules for what makes a valid identifier
  - Uppercase & lowercase letters A to Z
  - Underscore _
  - Digits 0 to 9 (***except for the first character***)
  - **And no space!!**
* Should be meaningful!

# Assignment

<img src="https://lh3.googleusercontent.com/vS8fEh2qDl3urcE2oOcxBMslFKCNwZF9ZHU4cs4DmhL5yzlnWcNbKkcun-5hUNI6dV6HMW3W42c1y4C-UfHcFDqFT2yLfUOVDDjiqsDpLzpXpZru9NS_3bYuN5D5trgIc75j28r9-7dTIW5wKW6Knd29g3op4_cbiIru_ddZdza9B7wTniJ0c7MQqBEqRaV-HykNHsMcMhdY16tkUiw9L9AHX6rWR2rqM7xPBAFkEfKH0g10erwFCj71hUKtgwmh8sJWW0eyI0nPqac8qQEeeU9rrTTOXLZyPfaL8U1YipJ2osXcIrr9jw599XSBhyCnlMe-s7YmGuyuvN5mLj7SGx-EkJQguaA1y17Lwi01W-bqxDcX_luQosuabokIfNjBpfeCRQXuExfrIaN754UccDjctOpy8FZkbNOMYyyZ9-31fN1mW3VopYsZq__WMSYVxv3dBuwUHPRIE12R-e0C0tt41mhnrE_8vtAG6wl69WjPDLiW1eeBN9cyue4yrQ51-buZgXPEW-BnkltMM28Mtk9ZPfegrfozQhtLwuGoHBXMht4MLz3pGYJCCx7lCmqfOm1Yq4mqbUIxDI-v7LI2H0QlZgyduxlyXlHeHvit2A_8tmCOcurna_EzI1SoPybBX0DgzGpmTmjRzP66WlkF-JOfk8ykiyxOwUmarkfByOM_2jgjH6uLDZ02pqtaiY6m3rGu59GEhOCmJbq6LtBH-9QVRx0XBb17s8isZdKj1eNb2UQ=w1164-h654-no" width="40%" height="40%"/>

* We can assign a value to a variable using **an assignment statement**
* When an assignment statement is executed, the value on the right hand side (of the equality sign) is assigned as the value of the variable on the left hand side

**variable = value** (Variable names should be always in the left hand side of the assignment operator.)

# Refer to a variable

* We can refer to a variableâ€™s value by using its name (e.g. print(n))
* The value does not change (unless we assign a new value)
* Referring to a variable for which no previous assignment exists, results in an error 
(undefined variable)
* Variable names are case sensitive

In [ ]:
n = 1

In [ ]:
print(n)

1

In [ ]:
print(n)

1

In [ ]:
print("n")

n

In [ ]:
print(z)

NameError: ignored

In [ ]:
print(n)

1

In [ ]:
print(N)

NameError: ignored

# Initialization

* Point of variables is to store things that can then be moved around or manipulated
* Before everything, you have to ***initialize*** variables
  - Set a starting value
  - Chess: initialize squares with pawns on the 2nd row, & Rook, Knight, Bishop etc. on consecutive pieces of the 1st row

# Changing the value of a variable

* If we use an assignment statement to assign a value to an existing variable
  - the old value is gone, forever
  - the new value is stored and remembered from then on (until we assign it again)
* We can assign a new value to a variable as many times as we want (the last one remembered)

In [ ]:
n = 1

In [ ]:
print(n)

1

In [ ]:
n = 2

In [ ]:
print(n)

2

In [ ]:
print(n)

2

In [ ]:
n = 3

In [ ]:
print(n)

3

# Another way to refer to a variable


* Recall the syntax for the assignment statement
* If a variable is used on the right hand side of an assignment, then this is a reference to the current value of that variable

In [ ]:
n = 1

In [ ]:
print(n)

1

In [ ]:
p = n

In [ ]:
print(p)

1

In [ ]:
p = 4

In [ ]:
print(p)

4

In [ ]:
print(n)

1

#Assignment

<img src="https://lh3.googleusercontent.com/EIeMbu2cDKkUXAGTPutZGc5vLuI-mMbWYfjYSkwA_X8EhsDbtXeRL4746sXvB45Z7nnI8mI9chUyVA4MuWut77orlC9qgG-XjJckIbwuEJCVC4UtbzFVe8Csx2II2yI4R0zNwnVhuoYhN4ht4EYqCjQtV2lH6v27wrJAM8Ao80vdpZhWevsqvcjJlLa92WYUHTcEcwFAhs7VvqYGFw4McOdb2ZB0IToX-APu2LOzNThIqXB16ForN_rXdskVEflK8y1m4AUJu7bNZyUsGKgXfY2OfhRg5yC2c9Ai9q6Y90kFRuu2Sbk6nZu1FM-zxIDansVJ93XbqsL61ZBRkzqQIWabExVX6j__uG1bwlBMSxobq3oJ7j_9yBmvvEIKa9pG_vQYmRuIqjbeP6F053AVwApTRQZXAJkHwYZRDT0GKCflEvRs8YgZ-ziURSHC7AmDB7eSnayWCSGYOoMKG0tW-SNaMZRh0HlXSNisBW9_FAKh84RwC1XBEmDLj-RiRCpGZMgQSbNtk7sqXiyvsLnj2OlP-AxZ08R0DbAVLJJII9lJnraoKJ-AuNhdgI0tw756myibtoHBXn0pw5sFzzQGVj9Hre6ARLhPiu0WRdPRtUPNIKhqsbC7_hYIEKuCseZ04fLIvZ61QhymACG1Ii9Re4_N_WuUIcxnmP5_omF8AkoxMGfNIhPHn-irunlO-W03v9sNlViQz3sKIRIJiqRgeDexKz9EXJv3szeoB4TLQig7bg=w960-h680-no" width="50%" height="80%"/>

- Recall the syntax for the assignment statement
- The right hand side of an assignment statement does not need to be single value
  - It can consist of an expression

# Statements & Expressions

* ***Statement*** is an instruction that Python can execute
  - Unit of code that has an effect
* ***Expression*** is a combination of values, variables & operators
  - Need to be evaluated
  - Instructions to do calculations
    - Arithmetic, boolean, etc.

In [ ]:
n = 1

In [ ]:
print(n)

1

In [ ]:
n = 1 + 2

In [ ]:
print(n)

3

In [ ]:
n = 1 + 2 + 3

In [ ]:
print(n)

6

In [ ]:
n = 1

In [ ]:
print(n)

1

In [ ]:
p = n + 1

In [ ]:
print(p)

2

In [ ]:
r = 2*p

In [ ]:
print(r)

4

# Arithmetic Operations

Operator | Meaning
--- | ---
+ | Add two operands
- | Subtract right operand from the left operand
\* | Multiply two operands
/ | Divide left operand by the right operand (always results in float)
% | Modulus - remainder of the division of left operand by the right operand
// | Floor division - division that results into a cut off the part after the period
\*\* | Exponent - left operand is raised to the power of the right operand

In [ ]:
x = 10 + 2
print(x)

12

In [ ]:
x = 13 - 1
print(x)

12

In [ ]:
x = 5*3
print(x)

15

In [ ]:
x = 6**2
print(x)

36

In [ ]:
x = 19/4
print(x)

4.75

In [ ]:
x = 19//4
print(x)

4

In [ ]:
x = 19%4
print(x)

3

In [ ]:
x = 12-4*2/4+3
print(x)

13.0

In [ ]:
x = (12-4)*2/4+3
print(x)

7.0

Just like we have precedence of arithmetic operators in math, Python applies a certain order of evaluation

# Precedence - Order of Operations (PEMDAS)

1.   Parenthesis ***(highest precedence)***
2.   Exponentiation (right to left for multiple consecutive occurrences)
3.   Multiplication & Division (left to right for multiple consecutive occurrences)
4.   Addition & Subtraction (left to right for multiple consecutive occurrences) ***(lowest precedence)***

# Estimate Population

We are going to estimate the population of Turkey based on the following data
 * 83.67 million in 2018
 * Every 25 seconds, a birth happens
 * Every 74 seconds, a death happens
 * Every 54 seconds, a new immigrant comes

What will the population be in 2025?



---

There are different ways of calculating elapsed time in seconds as given below

In [ ]:
e = (2025-2018)*365*24*60*60

In [ ]:
p = 83670000 + e//25 - e//74 + e//54

In [ ]:
elapsed = (2025-2018)*365*24*60*60

In [ ]:
sec_in_year = 365*24*60*60
elapsed = (2025-2018)*sec_in_year

In [ ]:
start_year = 2018
end_year = 2025
sec_in_year = 365*24*60*60
elapsed = (end_year - start_year) * sec_in_year

# Estimate Population - Flowchart

![alt text](https://lh3.googleusercontent.com/1oo6e-UIDyB_uD-F_Yfmkt6JmUzmvV82BZ8LgoHrF6bDWHAea1Ho9Yq_7gIhSXBoEpIbqeAevIqHzSidkcMsyv6UXAtZPFKLAVWP9YbZhq8ktOq2EYVl6iMYUDOfO4al0CgJi00lQjJ45cz0UklHQzo_4uwJTQLr5vwJhXz7BaAa2T12MktIi0WQjroebaHjjMaPj59t-C20ctU3TdBTfTznaNOMqzF4YmZZG064x6Nqge6yNe5uKV5xW5zL1NxVHkeOmw5-qPyAPjUpGw2_KeWL4LU4HOyaH2_94bPVu3G-xYhuniEbtv6hwiZbeLaSL2wzGhQ3mxPIm8tOQStcvxIqvkVjs7QRJZPDczf4XlEVArfCMJqohn-WvMXVHblW5Nj4w_DdOkRUSCoPjJfBHeSsKwg8Lh3XCiEhFw1MufS6crU-lzEFupEhxeA20Z7KShQ54httWxO-uTn2Ks5p14XFZzgVcdImJwUk9b0s3PH5KS6iRuNwDCaLH-H28EyDNGoB5DvCbBGiq5pv-IlIvGiZCc7E3p4R6slltLYFRpUELtTdyTRfNSy8nJzzIKtjy1hs_eNLB6Y_xmDNQhYrCufla4mi-ABxzUEcBNmv2r2VpBFuqqv1krci1OLK_XCOj272WUjwvlH70Aaso8l1B2wWYtkWkj7MJtYqSKGapVWT490po3h2pD94JgGqKxB2ODZoZ5MH2yoxrPrkNly8CvHV8h0itmDyTUMo66f-0H_Sd3s=w641-h221-no)

# Assignment Operators

Operator | Example | Equivalent to
--- | --- | ---
= | x = 5 | x = 5
+= | x += 5 | x = x + 5
-= | x -= 5| x = x - 5
\*= | x \*= 5 | x = x * 5
/= | x /= 5 | x = x / 5
%= | x %= 5 | x = x % 5
//= | x //= 5| x = x = x // 5
\*\*= | x \*\*= 5 | x = x \*\* 5

# population1.py

We are going to estimate the population of Turkey based on the following data
 * 83.67 million in 2018
 * Every 25 seconds, a birth happens
 * Every 74 seconds, a death happens
 * Every 54 seconds, a new immigrant comes

What will the population be in 2025?



---

In [ ]:
population = 83670000
start_year = 2018
end_year = 2025
sec_in_year = 365*24*60*60

elapsed = (end_year - start_year)*sec_in_year

population += elapsed//25 - elapsed//74 + elapsed//54
population = population + elapsed//25 - elapsed//74 + elapsed//54

print(population)

93604945

# Outputs in Python

You have two variables at the end with the following values:

In [ ]:
end_year = 2025
population = 93604945

print("The estimated population will be", population, "in", end_year, ".")

The estimated population will be 93604945 in 2025 .

In [ ]:
print("The estimated population will be ", population, " in ", end_year, ".", sep="")

The estimated population will be 93604945 in 2025.

Any difference among the outputs?

# Values & Types

* A ***value*** is one of the basic things a program works with
  - Like a letter or a word
* Each value belongs to a ***type***
  - int - integer
  - float - floating point (real numbers)
  - str - string

# String as a Type

In [ ]:
'2'-'1'

TypeError: ignored

In [ ]:
'a'/'b'

TypeError: ignored

In [ ]:
'a'+'b'

'ab'

In [ ]:
'a'*3

'aaa'

In [ ]:
'a'*'b'

TypeError: ignored

# Outputs in Python (cont'd)

You have two variables at the end with the following values:

In [ ]:
end_year = 2025
population = 93604945

print("The estimated population will be " + str(population) + " in " + str(end_year) + ".")

The estimated population will be 93604945 in 2025.

You can only sum (or append) **same data types**

# population2.py

In [ ]:
population = 83670000
start_year = 2018
end_year = 2025
sec_in_year = 365*24*60*60

elapsed = (end_year - start_year)*sec_in_year

population += elapsed//25 - elapsed//74 + elapsed//54

print("The estimated population will be", population, "in", end_year, ".")
print("The estimated population will be ", population, " in ", end_year, ".", sep="")
print("The estimated population will be " + str(population) + " in " + str(end_year) + ".")

The estimated population will be 93604945 in 2025 .
The estimated population will be 93604945 in 2025.
The estimated population will be 93604945 in 2025.

# Type Casting

* To convert between types you simply use the type name as a function
* The value should be convertible
* **ord() is inverse of chr()**

In [ ]:
x = str(57)
x

'57'

In [ ]:
x = int("655")
x

655

In [ ]:
x = int(5.99)
x

5

In [ ]:
x = int("655a")
x

ValueError: ignored

In [ ]:
x = ord("A")
x

65

In [ ]:
x = chr(65)
x

'A'

# Comments

* Hard to read larger & complicated programs
* Adding notes is a good idea - comments
  - To explain in natural language what the program is doing
* Use of #
  - Everything from the symbol # to the end of the line is ignored 
    - no effect on execution
* It is also possible to comment multiple lines at the same time
* You can use triple-quotes (''' or """)
  - Everything between triple-quotes will be commented out as below

In [ ]:
"""
print("This part will be commented out")

print("This part also will be commented out")
"""

print("However this will be printed")

However this will be printed

# population3.py

We are going to estimate the population of Turkey based on the following data
 * 83.67 million in 2018
 * Every 25 seconds, a birth happens
 * Every 74 seconds, a death happens
 * Every 54 seconds, a new immigrant comes

What will the population be in 2025?



---

In [ ]:
# initializations
population = 83670000
start_year = 2018
end_year = 2025
sec_in_year = 365*24*60*60

# calculate the elapsed time in seconds
elapsed = (end_year - start_year)*sec_in_year

# consider the rates 
population += elapsed//25 - elapsed//74 + elapsed//54
# population = population + elapsed//7 - elapsed//13 + elapsed//35

# print out the desired value
print("The estimated population will be ", population, " in ", end_year, ".", sep="")

# Inputs in Python

What about getting the end_year variable from the user?

* What if we want to get the value of the variable ***end_year*** from the user? 
* **input()** is used to get the info  from user
* If **input()** is called, the program flow will stop until the user has given an input
* The text of the optional parameter, i.e. prompt, will be printed on screen
* **input()** takes only 1 parameter 
  - of type string

In [ ]:
input()

Ronnie

'Ronnie'

In [ ]:
name = input()
print(name)

Ronnie
Ronnie

In [ ]:
name = input("Please enter your name: ")
print(name)

Please enter your name: Ronnie
Ronnie

In [ ]:
surname = input(name + ",please enter your surname: ")
print(surname)

Ronnie,please enter your surname: Bonnie
Bonnie

In [ ]:
print(name, surname)

Ronnie Bonnie

In [ ]:
surname = input(name, ",please enter your surname: ")

TypeError: ignored

* User input will be returned as a **string** without any changes 
* We need to use **type casting** when input is required to be transformed into another type

In [ ]:
currentYear = input("Enter current year:")
birthYear = input("Enter your birth year:")

age = currentYear - birthYear

print(age)

Enter current year:2018
Enter your birth year:1993

TypeError: ignored

You cannot subtract one string from another !!!

In [ ]:
currentYear = int(input("Enter current year:"))
birthYear = int(input("Enter your birth year:"))

age = currentYear - birthYear

print(age)

Enter current year:2018
Enter your birth year:1993
25

Now, we are capable of getting the value of variable ***end_year*** from the user

In [ ]:
#promt for the user's name
name = input('Please enter your name: ')

#prompt for end_year
end_year = int(input(name + ', please enter a year for population estimation: '))

Please enter your name: Berk
Berk, please enter a year for population estimation: 100

# population4.py

We are going to estimate the population of Turkey based on the following data
 * 83.67 million in 2018
 * Every 25 seconds, a birth happens
 * Every 74 seconds, a death happens
 * Every 54 seconds, a new immigrant comes

What will the population be in 2025?



---

In [ ]:
# prompt for the user's name
name = input("Please enter your name: ")

# prompt for the end_year
end_year = int(input(name + ", please enter a year for population estimation: "))

# initializations
population = 79510000
start_year = 2016
sec_in_year = 365*24*60*60

# calculate the elapsed time in seconds
elapsed = (end_year - start_year)*sec_in_year

# consider the rates 
population += elapsed//7 - elapsed//13 + elapsed//35

# print out the desired value
print('The estimated population will be ', population, ' in ', end_year, '.', sep='')

Please enter your name: Berk
Berk, please enter a year for population estimation: 2018
The estimated population will be 85470650 in 2018.

# More on variables

* You can always overwrite the value of a variable 
  - even with different data types
* Whenever you want to use a variable, the latest value of the variable will be used

In [ ]:
a = 5
print(a)

5

In [ ]:
a = 10
print(a)

10

In [ ]:
a = "Alex De Souza"
print(a)

Alex De Souza

In [ ]:
a

'Alex De Souza'